<%- include('../../partials/header.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Assign Muscles</h2>
        </div>
        <div class="card-boy">
            <form method="post" action="/muscles/save">
                <input class="form-control" type="text" name="muscle_name" placeholder="Assign New Muscle.">
                <br>
                <button class="btn btn-dark">Assign</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>